@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 27% 95%; /* Light Blue (#DDE6ED) */
    --foreground: 228 45% 20%;
    --card: 210 40% 98%;
    --card-foreground: 228 45% 20%;
    --popover: 210 40% 98%;
    --popover-foreground: 228 45% 20%;
    --primary: 228 51% 33%; /* Deep Blue (#293B7F) */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 27% 88%;
    --secondary-foreground: 228 51% 33%;
    --muted: 210 27% 88%;
    --muted-foreground: 228 45% 40%;
    --accent: 228 51% 33%; /* Deep Blue (#293B7F) - Was Soft Orange */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 27% 85%;
    --input: 210 27% 90%;
    --ring: 228 51% 33%;
    --radius: 0.5rem;
    --sidebar-background: 228 51% 23%;
    --sidebar-foreground: 210 40% 85%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 228 51% 23%;
    --sidebar-accent: 228 51% 33%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 228 51% 30%;
    --sidebar-ring: 2 68% 61%;
  }

  .dark {
    --background: 229 25% 12%;
    --foreground: 210 40% 90%;
    --card: 229 25% 18%;
    --card-foreground: 210 40% 90%;
    --popover: 229 25% 18%;
    --popover-foreground: 210 40% 90%;
    --primary: 210 40% 90%;
    --primary-foreground: 228 51% 33%;
    --secondary: 229 25% 25%;
    --secondary-foreground: 210 40% 90%;
    --muted: 229 25% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 210 40% 90%;
    --accent-foreground: 228 51% 33%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 25% 25%;
    --input: 229 25% 25%;
    --ring: 2 68% 61%;
    --radius: 0.5rem;
    --sidebar-background: 229 25% 12%;
    --sidebar-foreground: 210 40% 85%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 228 51% 23%;
    --sidebar-accent: 228 51% 33%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 229 25% 25%;
    --sidebar-ring: 2 68% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  .waves > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .waves > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .waves > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .waves > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .waves > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}
